Question no 4 (B)

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [22]:
#Sending request to the webpage.
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [23]:
#Creating soup
soup = BeautifulSoup(page.content,'html.parser')

In [24]:
#Scraping banner player
b_p = soup.find('div',class_ = 'rankings-block__banner--name-large').text
rest_p = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
players1 = []

for i in rest_p:
    players1.append(i.text.replace('\n',''))

In [25]:
#Inserting banner player name to the list and showing only top 10 players.
players1.insert(0,b_p)
playerss = players1[0:10]

In [26]:
#Scraping team details from the webpage
b_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
r_team = soup.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
w_team = []

for i in r_team:
    w_team.append(i.text.replace('\n',''))

In [27]:
#Inserting banner team details to the list
w_team.insert(0,b_team)
women_team = w_team[0:10]

In [28]:
#Scraping rating from the webpage
b_rat = soup.find('div', class_ = 'rankings-block__banner--rating').text
r_rat = soup.find_all('td', class_ = 'table-body__cell rating')
w_rat = []

for i in r_rat:
    w_rat.append(i.text)

In [29]:
#Insert banner rating to the list
w_rat.insert(0,b_rat)
women_rating = w_rat[0:10]

In [30]:
#Creating index value.
index = {1,2,3,4,5,6,7,8,9,10}

In [31]:
#Creating DataFrame to display Top 10 womenâ€™s ODI Batting players of team and rating.
Women_batting = pd.DataFrame({'Players':playerss,'Team':women_team,'Rating':women_rating},index)
Women_batting

                Players Team Rating
1   Chamari Athapaththu   SL    758
2           Beth Mooney  AUS    754
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    731
5           Meg Lanning  AUS    717
6      Harmanpreet Kaur  IND    716
7       Smriti Mandhana  IND    714
8          Ellyse Perry  AUS    626
9       Stafanie Taylor   WI    618
10       Tammy Beaumont  ENG    595