Question no 4 (A)

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
#Sending request to the webpage
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [8]:
#Creating Soup to scrap data from the webpage
soup = BeautifulSoup(page.content,'html.parser')

In [10]:
#scraping the team details
b_t = soup.find('td', class_ = 'rankings-block__banner--team-name').text.split('\n')[2]
r_team = soup.findAll('td', class_ = 'table-body__cell rankings-table__team')
te = []
for i in r_team:
    te.append(i.text.split('\n')[2])

In [11]:
#Inserting banner team details to the list
te.insert(0,b_t)
teams = te[0:10]

In [26]:
#scraping the matches 
b_m = soup.find('td', class_ = 'rankings-block__banner--matches').text
r_m = soup.find_all('td', class_ = 'table-body__cell u-center-text')
mat = []

for i in r_m:
    mat.append(i.text)

In [27]:
#to extract value of matches
matc = mat[0:18:2]

In [28]:
#Inserting banner matches to the list
matc.insert(0,b_m)
matches1 = matc[0:10]

In [29]:
#scraping the points.
ban_p = soup.find('td', class_ = 'rankings-block__banner--points').text
rest_p = mat[1:18:2]

In [30]:
#Inserting banner points to the rest of the points.
rest_p.insert(0,ban_p)
points = rest_p[0:10]

In [31]:
#scraping the rating
ban_r = soup. find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').strip()
rest_rat = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
ratings1 = []

for i in rest_rat:
    ratings1.append(i.text.replace('\n','').strip())

In [32]:
#Inserting ratings to the list
ratings1.insert(0,ban_r)
rating1 = ratings1[0:10]

In [33]:
#Creating index value.
index4 = {1,2,3,4,5,6,7,8,9,10}

In [34]:
#Creating DataFrame of Top 10 ODI teams in womenâ€™s cricket for matches, points and rating.
Women_ODI = pd.DataFrame({'Country':teams,'Matches':matches1,'Points':points,'Rating':rating1},index4)
Women_ODI

         Country Matches Points Rating
1      Australia      21  3,603    172
2        England      28  3,342    119
3   South Africa      26  3,098    119
4          India      27  2,820    104
5    New Zealand      28  2,688     96
6    West Indies      29  2,743     95
7     Bangladesh      14    977     70
8      Sri Lanka      12    820     68
9       Thailand      12    806     67
10      Pakistan      27  1,678     62