Question no 03 (A)

In [17]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [18]:
#Sending requesting to the cricket webpage server to get the content.
url1 = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [19]:
#Requesting url
requests = requests.get(url1)

In [20]:
#Create Soup
soup1 = BeautifulSoup(requests.content)

In [21]:
#Scraping the team data
team = soup1.find('td', class_ = 'rankings-block__banner--team-name').text.split('\n')[2]
team_n = soup1.find_all('td', class_ = 'table-body__cell rankings-table__team')
nam = []
for i in team_n:
    nam.append(i.text.split('\n')[2])

In [22]:
#Inserting data to the list
nam.insert(0,team)
team_name = nam[0:10]

In [23]:
#Scrapping the matches data
ban_m = soup1.find('td', class_ = 'rankings-block__banner--matches').text
team_m = soup1.find_all('td', class_ = 'table-body__cell u-center-text')
match = []
for m in team_m:
    match.append(m.text)

In [24]:
matches = match[0:18:2]

In [25]:
#insert data to the list
matches.insert(0,ban_m)
team_matches = matches[0:10]

In [26]:
#insert the data to the list
matches.insert(0,ban_m)
team_matches = matches[0:10]

In [27]:
#scraping the rating data
ban_p = soup1.find('td', class_ = 'rankings-block__banner--points').text
team_p = match[1:18:2]

In [28]:
#Inserting Banner data to the list
team_p.insert(0,ban_p)

In [29]:
#Scrape rating
ban_r = soup1.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').strip()
team_r = soup1.find_all('td', class_ = 'table-body__cell u-text-right rating')

t_ratings = []

for i in team_r:
    t_ratings.append(i.text)

In [30]:
#Inserting data to the list
t_ratings.insert(0,ban_r)
ratings = t_ratings[0:10]

In [31]:
#Creating own index value.
index1 = {1,2,3,4,5,6,7,8,9,10}

#Create DataFrame to showcase Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
import pandas as pd
ODI_t = pd.DataFrame({'Country':team_name,'Matches':team_matches,'Points':team_p,'Rating':ratings},index1)
ODI_t

In [32]:
#Create DataFrame to showcase Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ODI_t = pd.DataFrame({'Country':team_name,'Matches':team_matches,'Points':team_p,'Rating':ratings},index1)
ODI_t

         Country Matches Points Rating
1      Australia      23  2,714    118
2       Pakistan      23  2,316    116
3          India      20  3,807    115
4    New Zealand      33  2,806    104
5        England      27  2,426    101
6   South Africa      24  1,910    101
7     Bangladesh      19  2,451     98
8      Sri Lanka      25  2,378     85
9    Afghanistan      28  1,067     82
10   West Indies      13  2,201     69