Question no 4 (C)

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#Sending request to the website server to scrap page content
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [6]:
#Creating soup to extract content
soup = BeautifulSoup(page.content,'html.parser')

In [7]:
#Scrap the players data
banner_n = soup.find('div', class_ = 'rankings-block__banner--name-large').text
rest_n = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
p = []

for i in rest_n:
    p.append(i.text.replace('\n',''))

In [8]:
#Inserting banner player to the list.
p.insert(0,banner_n)
play = p[0:10]

In [9]:
#Scraping team details.
b_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
rest_team = soup.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
all_team = []

for i in rest_team:
    all_team.append(i.text.replace('\n',''))

In [10]:
#Inserting banner team to the list
all_team.insert(0,b_team)
al_team = all_team[0:10]

In [11]:
#Scraping rating
bann_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
rest_rating = soup.find_all('td', class_ = 'table-body__cell rating')
al_rat = []

for i in rest_rating:
    al_rat.append(i.text)

In [12]:
#Inserting banner rating to the list.
al_rat.insert(0,bann_rating)
all_rating = al_rat[0:10]

In [13]:
#Creating index value.
index6 = {1,2,3,4,5,6,7,8,9,10}

In [14]:
#Creating DataFrame of Top 10 womenâ€™s ODI all-rounder team and rating.
all_rounder = list(zip(play,al_team,al_rat))
All_rounder = pd.DataFrame(all_rounder,index6,columns = ['Players','Team','Rating'])
All_rounder

             Players Team Rating
1    Hayley Matthews   WI    382
2     Natalie Sciver  ENG    371
3       Ellyse Perry  AUS    366
4     Marizanne Kapp   SA    349
5        Amelia Kerr   NZ    328
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    292
8      Jess Jonassen  AUS    250
9      Sophie Devine   NZ    233
10          Nida Dar  PAK    232