Question no 3 (B)

In [27]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [28]:
#sending request to the web
url2 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url2)

In [29]:
#Creating soup
soup2 = BeautifulSoup(r.content,'html.parser')

In [30]:
#Scraping Players from web 
ban_n = soup2.find('div', class_ = 'rankings-block__banner--name-large').text
com_n = soup2.find_all('td', class_ = 'table-body__cell rankings-table__name name')
names = []

for i in com_n:
    names.append(i.text.replace('\n',''))

In [31]:
#Insert name in the list
names.insert(0,ban_n)
Players = names[0:10]

In [32]:
#Scraping team from web
ban_t = soup2.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
com_t = soup2.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
teams = []

for i in com_t:
    teams.append(i.text.replace('\n',''))

In [33]:
#Inserting team to the other team list
teams.insert(0,ban_t)
team = teams[0:10]

In [34]:
#Scraping rating from the webpage
ban_r = soup2.find('div', class_ = 'rankings-block__banner--rating').text
com_r = soup2.find_all('td', class_ = 'table-body__cell rating')
rati = []

for i in com_r:
    rati.append(i.text)

In [35]:
#Inserting banner rating to the other ratings list
rati.insert(0,ban_r)
rating = rati[0:10]

In [36]:
#Creating own index value.
index2 = {1,2,3,4,5,6,7,8,9,10}

In [37]:
#Creating DataFrame of Top 10 ODI Batsmen 
Bat = list(zip(Players,team,rating))
Batsman = pd.DataFrame(Bat,index2,columns = ['Players','Team','Rating'])
Batsman

                  Players Team Rating
1              Babar Azam  PAK    886
2   Rassie van der Dussen   SA    777
3            Fakhar Zaman  PAK    755
4             Imam-ul-Haq  PAK    745
5            Shubman Gill  IND    738
6            Harry Tector  IRE    726
7            David Warner  AUS    726
8             Virat Kohli  IND    719
9         Quinton de Kock   SA    718
10           Rohit Sharma  IND    707