Question no 3 (C)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Sending request to the web
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [3]:
#Creating Soup
soup = BeautifulSoup(page.content,'html.parser')

In [4]:
#Scraping bowlers from the web
b_bow = soup.find('div', class_ = 'rankings-block__banner--name-large').text
r_bow = soup.findAll('td', class_ = 'table-body__cell rankings-table__name name')
bowler = []

for b in r_bow:
    bowler.append(b.text.replace('\n',''))

In [5]:
#Inserting bowler to the list
bowler.insert(0,b_bow)
bowlers = bowler[0:10]

In [6]:
#Scraping team from the web.
b_t = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
r_t = soup.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
tea = []
for r in r_t:
    tea.append(r.text.replace('\n',''))

In [7]:
#Inserting team to the list
tea.insert(0,b_t)
team = tea[0:10]

In [8]:
#Scraping rating from  web
b_r = soup.find('div', class_ = 'rankings-block__banner--rating').text
r_r = soup.find_all('td', class_ = 'table-body__cell rating')
rat = []

for i in r_r:
    rat.append(i.text)

In [9]:
#Inserting rating to the list
rat.insert(0,b_r)
rating = rat[0:10]

In [11]:
#Create index value.
index3 = {1,2,3,4,5,6,7,8,9,10}

In [23]:
#Creating DataFrame to show Top 10 ODI bowlers TEAM & RATING
ODI_Bowlers = pd.DataFrame({'Bowlers':bowlers,'Team':team,'Rating':rating},index3)
ODI_Bowlers

             Bowlers Team Rating
1     Josh Hazlewood  AUS    705
2     Mohammed Siraj  IND    691
3     Mitchell Starc  AUS    686
4         Matt Henry   NZ    667
5        Trent Boult   NZ    660
6         Adam Zampa  AUS    652
7        Rashid Khan  AFG    640
8     Shaheen Afridi  PAK    630
9   Mujeeb Ur Rahman  AFG    630
10     Mohammad Nabi  AFG    626