Assignment Selenium

In [1]:
! pip install selenium
! pip install webdriver-manager
! pip install pandas

Requirement already satisfied: selenium in c:\users\sandeep\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\sandeep\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\sandeep\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sandeep\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sandeep\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sandeep\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in c:\users\sandeep\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\sandeep\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)
Requirement already satisfied: pandas in c:\users\sandeep\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sandeep\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sandeep\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sandeep\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\sandeep\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
import selenium
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.service import Service

import time

In [31]:
driver = selenium.webdriver.Chrome()

In [32]:
url ="https://www.naukri.com/"
driver.get(url)

In [33]:
designation= driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [34]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [35]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [36]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [37]:
#job title of the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#job location of the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#company name of the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#job experience of the given page
experience_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [38]:
#printing the length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [39]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,Eastvantage
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,Delhivery
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,Everest Vacuum
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,Synechron
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,Synchron Infotech
5,Data Analyst,Bangalore/Bengaluru,ANZ,ANZ
6,Data Analyst I,Bangalore/Bengaluru,Cerner,Cerner
7,Data Analyst,Bangalore/Bengaluru,Persolkelly India,Persolkelly India
8,Data Analyst,Bangalore/Bengaluru,Paychex It Solutions,Paychex It Solutions
9,Data Analyst with ANSR,"Bangalore/ Bengaluru, Karnataka",ANSR,ANSR

# Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [74]:
import selenium
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.service import Service

import time

In [59]:
driver = selenium.webdriver.Chrome()

In [60]:
url ="https://www.naukri.com/"
driver.get(url)

In [61]:
designation= driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys('Data Scientist')

In [62]:
location= driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [63]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]")
search.click()

In [64]:
job_title = []#title of job
job_location = []#location
company_name = []

In [65]:
# scrraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
# scrraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
# scrraping job Location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [66]:
#printing the length
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [67]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
6,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
8,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech
9,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually

In [108]:
import selenium
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager

from selenium.webdriver.chrome.service import Service

import time

In [109]:
driver = selenium.webdriver.Chrome()

In [110]:
url = "https://www.naukri.com"
driver.get(url)

In [111]:
# entering the designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Scientist")
# filter the salary
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()
# filter the location 
locationss = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
locationss.click()
# filter the salary
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]"}
  (Session info: chrome=115.0.5790.99); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00AFA813+48355]
	(No symbol) [0x00A8C4B1]
	(No symbol) [0x00995358]
	(No symbol) [0x009C09A5]
	(No symbol) [0x009C0B3B]
	(No symbol) [0x009EE232]
	(No symbol) [0x009DA784]
	(No symbol) [0x009EC922]
	(No symbol) [0x009DA536]
	(No symbol) [0x009B82DC]
	(No symbol) [0x009B93DD]
	GetHandleVerifier [0x00D5AABD+2539405]
	GetHandleVerifier [0x00D9A78F+2800735]
	GetHandleVerifier [0x00D9456C+2775612]
	GetHandleVerifier [0x00B851E0+616112]
	(No symbol) [0x00A95F8C]
	(No symbol) [0x00A92328]
	(No symbol) [0x00A9240B]
	(No symbol) [0x00A84FF7]
	BaseThreadInitThunk [0x759A7D59+25]
	RtlInitializeExceptionChain [0x7715B79B+107]
	RtlClearBits [0x7715B71F+191]

In [ ]:
# create empty lists to store the scraped data
DataScience_job = []
DataScience_company_name = []
DataScience_job_location = []
DataScience_experience_required = []

In [112]:
# scrraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
# scrraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
# scrraping job Location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
# scrraping job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
# scrraping job Location from given page
salary_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft "]')
for i in salary_tags[0:10]:
    salary=i.text
    job_salary.append(salary)

In [113]:
print(len(job_title),len(job_location),len(company_name),len(job_salary),len(experience_required))

10 10 10 10 10

In [114]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required,'Salary':job_salary})
df

,Title,Location,Company_name,Experience,Salary
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs,Not disclosed
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs,Not disclosed
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs,Not disclosed
3,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics,5-10 Yrs,Not disclosed
4,Data Scientist,"Mumbai, Pune",Tata Nexarc,3-6 Yrs,Not disclosed
5,Lead Data Scientist,Mumbai,Here Technologies,4-9 Yrs,Not disclosed
6,"Senior Data Scientist, CAT Proc",Mumbai,Mondelez,4-8 Yrs,Not disclosed
7,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco,2-6 Yrs,Not disclosed
8,DATA SCIENTIST,Bangalore/Bengaluru,Walmart,4-8 Yrs,Not disclosed
9,Data Scientist,"Hybrid - Noida, Uttar Pradesh, Bangalore/ Beng...",HCLTech,7-12 Yrs,Not disclosed

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [115]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [174]:
driver = selenium.webdriver.Chrome()

In [175]:
url = "https://www.flipkart.com/"
driver.get(url)

In [178]:
ser_glass = driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
ser_glass.send_keys("Sunglasses")

In [179]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn.click()

In [180]:
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [181]:
URL=[]
for i in range(0,3):
    S_g_url=driver.find_elements(By.XPATH,'//a[@class="_2UzuFa"]')
    for i in S_g_url:
        URL.append(i.get_attribute('href'))
    # Clicking on NEXT button at end of page
    driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]').click()
    time.sleep(4)

In [182]:
URL[:100]

['https://www.flipkart.com/elligator-cat-eye-retro-square-oval-round-sunglasses/p/itm66596f152a3af?pid=SGLGGV2EVRWE9H9J&lid=LSTSGLGGV2EVRWE9H9JPS3A7W&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGGV2EVRWE9H9J.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/styloze-wayfarer-sunglasses/p/itm77f46ea405e9b?pid=SGLGM72TJUYTNNJT&lid=LSTSGLGM72TJUYTNNJTSAKJYN&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGM72TJUYTNNJT.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/srpm-wayfarer-sunglasses/p/itmaf19ae5820c06?pid=SGLFHQPHY2GZ4HFP&lid=LSTSGLFHQPHY2GZ4HFP0AZWKY&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_3&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFHQPHY2GZ4HFP.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-rectangular-sunglasses/p/itm3c6e13efc17e0?pid=SGLES2WMF6CH5GYF&lid=LSTSGLES2WMF6CH5GYFXDSXVD&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_1_4&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLES2WMF6CH5GYF.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/eyedens-butterfly-sunglasses/p/itm5d4e722ed0eb7?pid=SGLGN8TZSNSDYZ4Q&lid=LSTSGLGN8TZSNSDYZ4QTTTXUT&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_5&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGN8TZSNSDYZ4Q.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/icopertina-retro-square-sunglasses/p/itm90c6cb3734bc4?pid=SGLGZDVBRF8J7NKH&lid=LSTSGLGZDVBRF8J7NKHPO7BMO&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_6&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGZDVBRF8J7NKH.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm44f5aeeecaf5c?pid=SGLF79DQR8NQAT2W&lid=LSTSGLF79DQR8NQAT2WWQCQ7S&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=BestsellerId_26x&srno=s_1_7&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLF79DQR8NQAT2W.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/kingsunglasses-wayfarer-sunglasses/p/itm9c7287be7c247?pid=SGLG2ZY9UERPGCZX&lid=LSTSGLG2ZY9UERPGCZXOWQRMA&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_8&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLG2ZY9UERPGCZX.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/villa-wayfarer-sunglasses/p/itm1ff675d26bbbe?pid=SGLGR8GHSPYUHYVH&lid=LSTSGLGR8GHSPYUHYVHCGF680&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_9&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGR8GHSPYUHYVH.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/srpm-wayfarer-sunglasses/p/itmf7dffafeb6b90?pid=SGLGM3HCWHWZUHVA&lid=LSTSGLGM3HCWHWZUHVAMYKW78&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_10&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGM3HCWHWZUHVA.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itme10cb1c3329df?pid=SGLFZGE6GMSXZGRP&lid=LSTSGLFZGE6GMSXZGRPN2FYWJ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_11&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFZGE6GMSXZGRP.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/aachive-round-sunglasses/p/itm19cc24d2f7ccb?pid=SGLGRAAVTHPRGT25&lid=LSTSGLGRAAVTHPRGT25UI5AJI&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_12&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGRAAVTHPRGT25.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itmfhsbqywv36y54?pid=SGLFHRKF5GPR6ZBY&lid=LSTSGLFHRKF5GPR6ZBY1Z1BRU&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_13&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFHRKF5GPR6ZBY.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/rich-club-rectangular-sunglasses/p/itma16c31d395d4d?pid=SGLGMFHCYYWJPAUS&lid=LSTSGLGMFHCYYWJPAUSKQQNLZ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_14&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGMFHCYYWJPAUS.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/new-specs-rectangular-sunglasses/p/itm545a0f9e323c3?pid=SGLG2ESNVFBGD6NQ&lid=LSTSGLG2ESNVFBGD6NQDMTXPL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_15&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLG2ESNVFBGD6NQ.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm7dda9b565d045?pid=SGLFG94C8PAHZ3SH&lid=LSTSGLFG94C8PAHZ3SHQMMUJL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_16&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFG94C8PAHZ3SH.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/deixels-wayfarer-sunglasses/p/itmd472d69f3666e?pid=SGLFKMMXWMAEFHMF&lid=LSTSGLFKMMXWMAEFHMFSMSLWM&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_17&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFKMMXWMAEFHMF.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/aachive-round-sunglasses/p/itm47185facd13df?pid=SGLGRAAUMVPEKHJR&lid=LSTSGLGRAAUMVPEKHJRN62TTG&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_18&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGRAAUMVPEKHJR.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/elligator-wayfarer-sunglasses/p/itm5007cea5e2a48?pid=SGLGEFTJDVDTZZBY&lid=LSTSGLGEFTJDVDTZZBYY6ROKL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_19&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGEFTJDVDTZZBY.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/bkge-retro-square-sunglasses/p/itm0581544ee32c4?pid=SGLFZEWEAWZGBFZU&lid=LSTSGLFZEWEAWZGBFZUBMQG4O&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_20&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFZEWEAWZGBFZU.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/sewell-sports-sunglasses/p/itme3e43d1da79e6?pid=SGLG4Q4GXDFZG3FH&lid=LSTSGLG4Q4GXDFZG3FHUKB4UZ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_21&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLG4Q4GXDFZG3FH.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/aachive-retro-square-sunglasses/p/itm5b754c7bd96f0?pid=SGLGRA93FHZ9RPNQ&lid=LSTSGLGRA93FHZ9RPNQSFIPQK&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_22&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGRA93FHZ9RPNQ.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itmfgu57xzab7wag?pid=SGLFGTWZYB34UACM&lid=LSTSGLFGTWZYB34UACMJPZAHD&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_23&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFGTWZYB34UACM.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/vincent-chase-wayfarer-sunglasses/p/itm1737671d0bba7?pid=SGLGCRYGGAJXDT9F&lid=LSTSGLGCRYGGAJXDT9FSTSNMG&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_24&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGCRYGGAJXDT9F.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm86ea087ff83c9?pid=SGLF79DQNHPY9N6U&lid=LSTSGLF79DQNHPY9N6U4AICUR&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=TrendingId_26x&srno=s_1_25&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLF79DQNHPY9N6U.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm09b8a67de159a?pid=SGLFG94CXYTBH8XR&lid=LSTSGLFG94CXYTBH8XRIFJZCU&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_26&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFG94CXYTBH8XR.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/kingsunglasses-wayfarer-rectangular-sunglasses/p/itm9f3395eb32fae?pid=SGLG3ZGYTNE5AWAP&lid=LSTSGLG3ZGYTNE5AWAP7HHAAM&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=TrendingId_26x&srno=s_1_27&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLG3ZGYTNE5AWAP.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itm405062704fcc0?pid=SGLFTYY5NWNKSC64&lid=LSTSGLFTYY5NWNKSC64YLGIVW&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_28&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFTYY5NWNKSC64.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm286ccd9d7b396?pid=SGLES2WMN7PCAERZ&lid=LSTSGLES2WMN7PCAERZS8KXNO&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_29&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLES2WMN7PCAERZ.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/royal-son-retro-square-sunglasses/p/itmfhmsrkchzyr9y?pid=SGLFHHV5PXK3GZZ3&lid=LSTSGLFHHV5PXK3GZZ346BCCJ&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_30&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFHHV5PXK3GZZ3.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/elligator-round-sunglasses/p/itm3c981fc444358?pid=SGLFPHP5BVBJTCDB&lid=LSTSGLFPHP5BVBJTCDB7P4T6G&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_31&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFPHP5BVBJTCDB.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm13a722521a409?pid=SGLFG94CV3EVXTZE&lid=LSTSGLFG94CV3EVXTZEYCCD7T&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_32&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFG94CV3EVXTZE.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm4297d4c05fa6c?pid=SGLF79DQWYPMFYVY&lid=LSTSGLF79DQWYPMFYVYXBJEXX&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_33&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLF79DQWYPMFYVY.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/rich-club-round-sunglasses/p/itm027470f537cc5?pid=SGLFF2YC9EPWGHQS&lid=LSTSGLFF2YC9EPWGHQSBIJO0K&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_34&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLFF2YC9EPWGHQS.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/babymoon-round-sunglasses/p/itm33ef5e15fa969?pid=SGLGMGXF295HAADG&lid=LSTSGLGMGXF295HAADG27UHI4&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_35&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGMGXF295HAADG.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/sukart-wayfarer-spectacle-over-sized-sunglasses/p/itme2def8de1ff64?pid=SGLGMVJHDZQ5F7DH&lid=LSTSGLGMVJHDZQ5F7DHWETPED&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_36&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGMVJHDZQ5F7DH.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/rozzetta-craft-sports-wrap-around-sunglasses/p/itm10af50b049674?pid=SGLG9AFQF2HNHK7A&lid=LSTSGLG9AFQF2HNHK7AIIXH1I&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_37&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLG9AFQF2HNHK7A.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-clubmaster-sunglasses/p/itm205f3365d0f2d?pid=SGLGKFKFGJZFKGTQ&lid=LSTSGLGKFKFGJZFKGTQ6H6TWT&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_38&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGKFKFGJZFKGTQ.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/icopertina-wayfarer-sunglasses/p/itm467b41ab254cf?pid=SGLGZ43UF5FAHWAX&lid=LSTSGLGZ43UF5FAHWAX3QXFNV&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_39&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGZ43UF5FAHWAX.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/metronaut-uv-protection-sunglass/p/itm55a79fec3c250?pid=SGLGEERZCJKACGMA&lid=LSTSGLGEERZCJKACGMAJXCG9S&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_1_40&otracker=search&otracker1=search&fm=Search&iid=4e025c7c-a611-499e-b99d-323137305467.SGLGEERZCJKACGMA.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itme89404d9548ff?pid=SGLF79DQWCWEFUNR&lid=LSTSGLF79DQWCWEFUNRINKNYY&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_41&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLF79DQWCWEFUNR.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/rich-club-round-sunglasses/p/itmd8d839ac3f4a0?pid=SGLFF2YHSM86RAD6&lid=LSTSGLFF2YHSM86RAD6QVT69C&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_42&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFF2YHSM86RAD6.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/roadway-retro-square-sunglasses/p/itm5b07c7ca6a23c?pid=SGLGGFA7ZRFZZFFN&lid=LSTSGLGGFA7ZRFZZFFNNN19KK&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_43&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLGGFA7ZRFZZFFN.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-wayfarer-sunglasses/p/itm11d856300e817?pid=SGLFU88M7WKMJ5X6&lid=LSTSGLFU88M7WKMJ5X6TKGKQL&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_44&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFU88M7WKMJ5X6.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-aviator-sunglasses/p/itma9ed6fe9b3b86?pid=SGLFZJQUNAHYUCAS&lid=LSTSGLFZJQUNAHYUCASKDXKTE&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_45&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFZJQUNAHYUCAS.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/vincent-chase-lenskart-retro-square-sunglasses/p/itm56f3885c30d84?pid=SGLG4XY5BUKVCUF5&lid=LSTSGLG4XY5BUKVCUF5WCXC7S&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_46&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLG4XY5BUKVCUF5.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-shield-sunglasses/p/itme31b29c245e9d?pid=SGLF79DPQHKPREWV&lid=LSTSGLF79DPQHKPREWVH4OGVF&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_47&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLF79DPQHKPREWV.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/rozzetta-craft-retro-square-sunglasses/p/itmf248ba5b3a895?pid=SGLFZFZNAQNZHYB7&lid=LSTSGLFZFZNAQNZHYB7GZ3YO5&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_48&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFZFZNAQNZHYB7.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-retro-square-sunglasses/p/itm2d3730b4b7d31?pid=SGLFG94CQZ4AYS2F&lid=LSTSGLFG94CQZ4AYS2FQMJAV7&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_49&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFG94CQZ4AYS2F.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/srpm-round-sunglasses/p/itm93366f6dffae4?pid=SGLG6SHKDUSKWP2Y&lid=LSTSGLG6SHKDUSKWP2YQMLKXB&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_50&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLG6SHKDUSKWP2Y.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/piraso-wayfarer-sunglasses/p/itmd4ce8937cc2f8?pid=SGLFU88XZNWSX42D&lid=LSTSGLFU88XZNWSX42DMD9SWH&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_51&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLFU88XZNWSX42D.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/new-specs-oval-sunglasses/p/itmaa2dfd4706667?pid=SGLGGGTGHZZF7G2N&lid=LSTSGLGGGTGHZZF7G2NUWSLFB&marketplace=FLIPKART&q=Sunglasses&store=26x&spotlightTagId=FkPickId_26x&srno=s_2_52&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLGGGTGHZZF7G2N.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-wayfarer-sunglasses/p/itm325d0677baea3?pid=SGLES2WMQBQ2GFHT&lid=LSTSGLES2WMQBQ2GFHTTIHGTD&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_53&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLES2WMQBQ2GFHT.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',
 'https://www.flipkart.com/fastrack-aviator-sunglasses/p/itm1a685f3977a68?pid=SGLF79DQGP7E4G2P&lid=LSTSGLF79DQGP7E4G2PTK7HYW&marketplace=FLIPKART&q=Sunglasses&store=26x&srno=s_2_54&otracker=search&otracker1=search&fm=Search&iid=bc4802dd-5f03-4bf9-8647-f8cb9b4b0501.SGLF79DQGP7E4G2P.SEARCH&ppt=sp&ppn=sp&ssid=bygsqnq4k00000001689929190158&qH=0ff7a11a5902c9f7',

In [185]:
for i in URL[:100]:
    driver.get(i)
    try:
        brand=driver.find_element(By.XPATH,"//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element(By.XPATH,"//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element(By.XPATH,"//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
    except NoSuchElementException:
        Brand.append("NaN")
        Product_Description.append("NaN")
        Price.append("NaN")

In [186]:
Sunglasses=pd.DataFrame({})
Sunglasses['Brand']=Brand[:100]
Sunglasses['Product_Description']=Product_Description[:100]
Sunglasses['Price']=Price[:100]

In [187]:
Sunglasses

         Brand                                Product_Description Price
0   Elligator   UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹168
1     Styloze   Riding Glasses, Night Vision Wayfarer Sunglass...  ₹182
2        SRPM   UV Protection Wayfarer Sunglasses (50)  (For M...  ₹194
3    Fastrack   UV Protection Rectangular Sunglasses (Free Siz...  ₹539
4     eyedens   UV Protection Butterfly Sunglasses (Free Size)...  ₹599
..         ...                                                ...   ...
95   Fastrack   Gradient, UV Protection Wayfarer Sunglasses (F...  ₹649
96    DEIXELS   Polarized, UV Protection, Riding Glasses Wayfa...  ₹211
97    Aachive   Night Vision Round Sunglasses (Free Size)  (Fo...  ₹799
98  Elligator   UV Protection, Mirrored Wayfarer Sunglasses (5...  ₹229
99       BKGE   Polarized, UV Protection Retro Square Sunglass...  ₹199

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [116]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [117]:
driver = selenium.webdriver.Chrome()

In [118]:
url ='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market'
driver.get(url)

In [119]:
driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div[1]/div[2]/div[3]/div/div/div/div[1]/div').click()

In [120]:
from selenium.common.exceptions import StaleElementReferenceException
#creating empty lists
# Create empty lists to store the required data
rating=[]
review=[]
full_review=[]

In [121]:
# Define the start and end page numbers
start = 0
end = 10

In [122]:
# Loop through the pages
for page in range(start, end):
    # Find all the elements for rating tag and append their text to the rating list
    rating_tag = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating.append(i.text)
    
    # Find all the elements for review tag and append their text to the review list
    review_tag = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tag:
        review.append(i.text)
    
    # Find all the elements for full review tag and append their text to the full review list
    full_review_tag = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tag:
        full_review.append(i.text)
    
    # Find the next button and click on it
    nextbutton = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    nextbutton.click()
    # Wait for 3 seconds for the next page to load
    time.sleep(3)

In [123]:
# Get only the first 100 items from each of the lists
rating = rating[:100]
review = review[:100]
full_review = full_review[:100]

In [124]:
# Create a pandas dataframe using the data obtained and store it in a variable named df
df = pd.DataFrame({"Rating":rating, "Review":review, "Full Review":full_review})
 # Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
df

,Rating,Review,Full Review
1,5,Terrific,Very very good
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Wonderful,This is amazing at all
4,5,Brilliant,Excellent Phone.
5,5,Must buy!,It’s really awesome
...,...,...,...
96,5,Mind-blowing purchase,Photos super
97,5,Excellent,Best camera ever
98,5,Terrific purchase,Value for money 🖤🖤
99,5,Simply awesome,Really satisfied with the Product I received.....
100,5,Super!,Good product 👌I love iPhone

Q6: Scrape data forfirst 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

In [142]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [147]:
driver = selenium.webdriver.Chrome()

In [148]:
url = "https://www.flipkart.com/"
driver.get(url)

In [150]:
# Entering sneakers in search box-
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')

#Clicking on Search Button-
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [151]:
# create empty list to store the data
brand =[]
product_description=[]
price =[]

In [152]:
# Set the start and end pages to scrape
start = 0
end = 3

# Loop through the pages and scrape data
for page in range(start, end):
     # Find all the brand elements on the current page and append them to the brand list
    brand_tag = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag:
        brand.append(i.text)
        
        
    # Find all the product description elements on the current page and append them to the product description list
    product_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in product_tag:
        product_description.append(i.text)
        
    # Find all the price elements on the current page and append them to the price list
    price_tag = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for i in price_tag:
        price.append(i.text)
        
        
     # Click on the next button to move to the next page
    nexts = driver.find_element(By.CLASS_NAME, '_1LKTO3')
    nexts.click()
    
    # Use a time.sleep() to wait for the next page to load
    time.sleep(3)

In [153]:
# Truncate the lists to 100 elements if necessary    
Brand = brand[:100]
Product_description =product_description[:100]
Price = price[:100]

In [154]:
# Create a pandas dataframe from the scraped data and display it
df= pd.DataFrame({'Brand': Brand,'Product Description': Product_description,'Price': Price})
df.index = range(1, len(df)+1)
df

,Brand,Product Description,Price
1,BRUTON,!Combo Pack Of 2 Casual Shoes! Sneakers For Men,!Combo Pack Of 2 Casual Shoes! Sneakers For Men
2,Footox,Sneaker for Mens | Casual Shoes | Men Shoes Sn...,Sneaker for Mens | Casual Shoes | Men Shoes Sn...
3,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,Synthetic Leather |Lightweight|Comfort|Summer|...
4,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,Synthetic Leather |Lightweight|Comfort|Summer|...
5,SFR,Sneakers For Men,Sneakers For Men
...,...,...,...
96,BRUTON,Sneakers For Men,Sneakers For Men
97,BRUTON,Sneaker for Mens | Casual Shoes | Men Shoes Sn...,Sneaker for Mens | Casual Shoes | Men Shoes Sn...
98,WHITE WALKERS,Sneakers For Men,Sneakers For Men
99,PrasKing,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...
100,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...","Lightweight,Comfort,Summer,Trendy,Walking,Outd..."

# Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [433]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [434]:
driver = selenium.webdriver.Chrome()

In [435]:
url = "https://www.amazon.in/"
driver.get(url)

In [436]:
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

In [437]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [444]:
#Creating Empty List for different attributes-
Title=[]
price=[]
Ratings=[]

In [445]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)  
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
rating=[]
for i in range(0,len(Rating))[0:20]:
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [446]:
#checking length for all attributes-
print(len(Title),len(price),len(rating))

10 10 10

In [447]:
# Creating Dataframe-
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':rating})
df

                                               Title     Price Ratings
0  Acer Predator Helios 16 Gaming Laptop (Intel C...  2,49,990     3.4
1  Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...    34,990     4.0
2  Acer Aspire Lite 11th Gen Intel Core i3-1115G4...    32,990     5.0
3  Acer Aspire Lite 11th Gen Intel Core i3-1115G4...    31,990     5.0
4  Acer Aspire Lite 11th Gen Intel Core i5-1155G7...    45,990     3.8
5  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    37,800     4.1
6  Lenovo IdeaPad Slim 3 Intel Core i5 11th Gen 1...    64,990     4.1
7  Lenovo V15 Intel Celeron N4500 15.6" (39.62 cm...    50,990     3.9
8  (Renewed) HP Chromebook 13 G1 6th Gen Intel Co...    23,399     3.7
9  Lenovo E41-55 AMD 14-inch HD 220 Nits Antiglar...    14,499     2.7

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [38]:
import selenium
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import time

In [45]:
driver = selenium.webdriver.Chrome()

In [40]:
driver.get('https://www.azquotes.com/')

In [41]:
# clicking on top Quotes to search the required data 
quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]')
quotes.click()

In [42]:
# create empty list to store the data
Quote =[]
Author =[]
Type_of_quotes=[]
# Set the start and end pages to scrape
start = 0
end = 10
# Loop through the pages and scrape data
for page in range(start, end):
    #scrap quote tag and appent it in Quote list
    quote_tag = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag:
        Quote.append(i.text)
     #Scrap author tag and append in Author list   
    author_tag = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tag:
        Author.append(i.text)
    #scrap type of Quote tag and append in type of quotess list
    type_of_quotes_tag = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of_quotes_tag:
        Type_of_quotes.append(i.text)

In [43]:
# Click on the next button to move to the next page
nexts = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[4]/li[12]')
nexts.click()

In [44]:
 # Use a time.sleep() to wait for the next page to load
time.sleep(3)
df = pd.DataFrame({'Quotes':Quote,'Author':Author,'Type Of Quotes':Type_of_quotes})
#Set the DataFrame index to start from 1 instead of the default 0
df.index = range(1, len(df)+1)
#print Dataframe
df

,Quotes,Author,Type Of Quotes
1,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
2,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
3,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
4,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
5,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
996,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
997,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
1000,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [62]:
import selenium
import pandas as pd
import numpy as np
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import time

In [63]:
driver = selenium.webdriver.Chrome()

In [64]:
driver.get('https://www.jagranjosh.com/')

In [65]:
# clicking on search button to search the required data 
gk = driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [77]:
# clicking on search button to search the required data 
pm_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_btn.click()

In [81]:
# Create empty lists to store the data
Name=[]
Born_Dead=[]
Terms_of_office=[]
Remarks=[]

In [82]:
#name
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in names:
    Name.append(name.text)
    

#borndead
born_dead = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead:
    Born_Dead.append(i.text)
    

#terms_of_office
terms_of_office = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in terms_of_office:
    Terms_of_office.append(i.text.replace('\n', ''))
    
    
#Remarks
remarks = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks:
    Remarks.append(i.text)

In [83]:
len(Name),len(Born_Dead),len(Term_of_office),len(Remarks)

(19, 19, 0, 19)

In [84]:
df=pd.DataFrame({"Names":Name,"Born-Dead":Born_Dead,"Terms of office":Terms_of_office,"Remarks":Remarks})
df

,Names,Born-Dead,Terms of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 196416 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 19661 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 19844 years, 291...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [47]:
import selenium
import pandas as pd
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
import time

In [28]:
driver = selenium.webdriver.Chrome()

In [29]:
driver.get('https://www.motor1.com/')

In [31]:
# enter the text in the search box
data = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/button')
data.send_keys('50 Most expensive cars in the world')

In [33]:
# click on the search button
searchs= driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
searchs.click()

In [35]:
# click on the 50 most expensive cars section
cars = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[3]/div/div[1]/h3')
cars.click()

In [55]:
cars = []
names_50expcars = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in names_50expcars:
        cars.append(i.text)
cars.pop()

'Most Expensive Cars In The World'

In [56]:
prices = []
prices_50expcars = driver.find_elements(By.XPATH,"//strong")

for j in prices_50expcars:
        prices.append(j.text)
prices.pop(4)

'Price: $1.7 Million'

In [57]:
print(len(cars),len(prices))

50 50

In [58]:
most_expensive=pd.DataFrame({"NAME OF THE CAR":cars,"PRICE OF THE CAR IN ($)":prices})
most_expensive

                    NAME OF THE CAR      PRICE OF THE CAR IN ($)
0                     De Tomaso P72          Price: $1.3 Million
1                 Ferrari LaFerrari          Price: $1.4 Million
2                     Pagani Huayra          Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C          Price: $1.7 Million
5                     Ferrari Monza          Price: $1.7 Million
6                Gordon Murray T.33          Price: $1.7 Million
7                 Koenigsegg Gemera          Price: $1.7 Million
8                       Zenvo TSR-S          Price: $1.7 Million
9                Hennessey Venom F5          Price: $1.8 Million
10                  Bentley Bacalar          Price: $1.9 Million
11    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12           Bentley Mulliner Batur          Price: $2.0 Million
13                     Deus Vayanne          Price: $2.0 Million
14                      SSC Tuatara         Price: $2.0 Million*
15                      Lotus Evija          Price: $2.1 Million
16              Aston Martin Vulcan          Price: $2.3 Million
17                       Delage D12          Price: $2.3 Million
18                McLaren Speedtail          Price: $2.3 Million
19                     Rimac Nevera          Price: $2.4 Million
20                    Pagani Utopia          Price: $2.5 Million
21             Pininfarina Battista          Price: $2.5 Million
22                Ferrari FXX K Evo          Price: $2.6 Million
23               Gordon Murray T.50          Price: $2.6 Million
24             Lamborghini Countach          Price: $2.6 Million
25         Mercedes-AMG Project One          Price: $2.7 Million
26              Aston Martin Victor          Price: $3.0 Million
27      Hennessey Venom F5 Roadster                 $3.0 Million
28                 Koenigsegg Jesko          Price: $3.0 Million
29            Aston Martin Valkyrie          Price: $3.2 Million
30        W Motors Lykan Hypersport          Price: $3.4 Million
31                    McLaren Solus                 $3.5 Million
32        Pagani Huayra Roadster BC          Price: $3.5 Million
33         Bugatti Chiron Pur Sport          Price: $3.6 Million
34                 Lamborghini Sian          Price: $3.6 million
35                 Koenigsegg CC850          Price: $3.7 Million
36  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
37               Lamborghini Veneno          Price: $4.5 Million
38                   Bugatti Bolide          Price: $4.7 Million
39                  Bugatti Mistral          Price: $5.0 Million
40              Pagani Huayra Imola          Price: $5.4 Million
41                     Bugatti Divo          Price: $5.8 Million
42              SP Automotive Chaos          Price: $6.4 Million
43                 Pagani Codalunga          Price: $7.4 Million
44         Mercedes-Maybach Exelero          Price: $8.0 Million
45               Bugatti Centodieci          Price: $9.0 Million
46          Bugatti Chiron Profilée         Price: $10.8 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)