# WEB SCRAPING – ASSIGNMENT 4

In [2]:
! pip install selenium
! pip install webdriver-manager

Requirement already satisfied: selenium in c:\users\sandeep\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sandeep\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sandeep\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\sandeep\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\sandeep\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sandeep\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sandeep\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sandeep\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: webdriver-manager in c:\users\sandeep\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\sandeep\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sandeep\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\sandeep\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A) Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [3]:
#import libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import re
import time
import warnings
warnings.filterwarnings('ignore')

In [14]:
driver = selenium.webdriver.Chrome()

In [15]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [16]:
#Creating the empty lists to store the scraped data
Rank=[]
Name=[]
Artist=[]
Views=[]
Upload_Date=[]

In [17]:
#As we need only the first 30 details, we will iterate only for first 30 data
#Scrapping the details of the Rank of the video
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)

#Scrapping the details of the video name
video=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in video[:30]:
    Name.append(i.text)
    
#Scrapping the details of the Artist name
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
#Scrapping the details of the views information
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
#Scrapping the details of the upload date
date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date[:30]:
    Upload_Date.append(i.text)

In [18]:
#Checking the length of the data scraped
print(len(Rank),len(Name),len(Artist),len(Views),len(Upload_Date))

30 30 30 30 30

In [19]:
#Creating a dataframe for storing the scraped data
Yt_data=pd.DataFrame({})
Yt_data['Rank']=Rank
Yt_data['Video Name']=Name
Yt_data['Artist']=Artist
Yt_data['Views(Billions)']=Views
Yt_data['Upload Date']=Upload_Date
Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015"
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,5.46,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,5.00,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015"

In [20]:
#Removing the stray numbers from videoname
new=Yt_data["Video Name"].str.split("[", n = 1, expand = True) 
new

                                              0    1
0                            "Baby Shark Dance"   6]
1                                   "Despacito"   9]
2                        "Johny Johny Yes Papa"  16]
3                                   "Bath Song"  17]
4                                "Shape of You"  18]
5                               "See You Again"  21]
6                           "Wheels on the Bus"  26]
7                 "Phonics Song with Two Words"  27]
8                                 "Uptown Funk"  28]
9   "Learning Colors – Colorful Eggs on a Farm"  29]
10                              "Gangnam Style"  30]
11   "Masha and the Bear – Recipe for Disaster"  35]
12                             "Dame Tu Cosita"  36]
13                                     "Axel F"  37]
14                                      "Sugar"  38]
15                                       "Roar"  39]
16                             "Counting Stars"  40]
17                        "Baa Baa Black Sheep"  41]
18                                      "Sorry"  42]
19           "Waka Waka (This Time for Africa)"  43]
20                          "Thinking Out Loud"  44]
21                             "Lakdi Ki Kathi"  45]
22                                 "Dark Horse"  46]
23                                    "Perfect"  47]
24                                      "Faded"  48]
25                                 "Let Her Go"  49]
26          "Humpty the train on a fruits ride"  50]
27                             "Girls Like You"  51]
28                                   "Bailando"  52]
29                                    "Lean On"  53]

In [21]:
#Dropping the column with stray numbers
Yt_data.drop(columns=['Video Name'],axis=1,inplace=True)

In [22]:
#Inserting the name column
Yt_data.insert(1,"Video Name",new[0])

#Checking the data after removing the stray numbers
Yt_data

,Rank,Video Name,Artist,Views(Billions),Upload Date
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""",Cocomelon - nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""",Wiz Khalifa,5.98,"April 6, 2015"
6,7.,"""Wheels on the Bus""",Cocomelon - nursery rhymes,5.46,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""",ChuChu TV - children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""",Mark Ronson,5.00,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""",Cocomelon - nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""",Major Lazer,3.43,"March 22, 2015"

In [23]:
#Closing the driver
driver.close

2 . Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details: 
A) Match title (I.e. 1 ODI) 
B) Series 
C) Place 
D) Date 
E) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [184]:
driver = selenium.webdriver.Chrome()

In [185]:
driver.get('https://www.bcci.tv/')

In [186]:
#clicking on menu
button= driver.find_element(By.XPATH,'//span[@class = "menu-icon__line menu-icon__line-right"]').get_attribute('href')

In [187]:
#selecting International
International= driver.find_element(By.XPATH,'//a[@class = "nav-link "]').click()

In [188]:
#clicking on dropdown
Select= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]').click()

In [189]:
#selecting ODI
OdI= driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]').click()

In [190]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

In [191]:
#scraping Match Title
try:
    Match_title_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-top']")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
    for i in Series_tag:
        Series.append(i.text.split("-"))
except NoSuchElementException as e:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
    for i in Place_tag:
        Place.append(i.text.split("-"))
except NoSuchElementException as e:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver.find_elements(By.XPATH,"//div[@class='match-dates ng-binding']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementException as e:
    Time.append("--")

In [192]:
#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [193]:
#creating Dataframe
international_fixtures=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
international_fixtures

,Match_title,Series,Place,Date,Time
0,ASIA CUP 2023\n2 SEP 2023\n10:00 AM IST,"[1st ODI , ]",[2 SEP 2023],2 SEP 2023,10:00 AM IST
1,ASIA CUP 2023\n4 SEP 2023\n10:00 AM IST,"[2nd ODI , ]",[4 SEP 2023],4 SEP 2023,10:00 AM IST
2,AUSTRALIA TOUR OF INDIA 2023-24\n22 SEP 2023\n...,"[1st ODI , ]",[22 SEP 2023],22 SEP 2023,1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24\n24 SEP 2023\n...,"[2nd ODI , ]",[24 SEP 2023],24 SEP 2023,1:30 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24\n27 SEP 2023\n...,"[3rd ODI , ]",[27 SEP 2023],27 SEP 2023,1:30 PM IST
5,ICC MENS WORLD CUP 2023\n8 OCT 2023\n2:00 PM IST,"[1st ODI , ]",[8 OCT 2023],8 OCT 2023,2:00 PM IST
6,ICC MENS WORLD CUP 2023\n11 OCT 2023\n2:00 PM IST,"[2nd ODI , ]",[11 OCT 2023],11 OCT 2023,2:00 PM IST
7,ICC MENS WORLD CUP 2023\n14 OCT 2023\n2:00 PM IST,"[3rd ODI , ]",[14 OCT 2023],14 OCT 2023,2:00 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details: A)
Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code

In [310]:
driver = selenium.webdriver.Chrome()

In [311]:
url=("https://www.statisticstimes.com/")
driver.get(url)

In [312]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [313]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [314]:
#Clicking on India
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [315]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[3]/div').click()

In [316]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []

In [317]:
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
    
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [309]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

,RANK,STATE,GSDP2,SHARE,GDPbillion
0,1,Primary Sector,19.37,"18,973,486",17.39
1,1.1,"Agriculture, forestry & fishing",15.63,"14,245,950",13.06
2,1.11,Crops,9.79,"8,962,827",8.21
3,1.12,Livestock,3.35,"2,862,908",2.62
4,1.13,Forestry & logging,1.66,"1,888,936",1.73
5,1.14,Fishing and aquaculture,0.83,"531,280",0.49
6,1.2,Mining & quarrying,3.74,"4,727,536",4.33
7,2,Secondary Sector,44.49,"50,584,861",46.36
8,2.1,Manufacturing,35.82,"40,892,857",37.48
9,2.2,"Electricity, gas, water supply & other utility...",3.17,"3,784,987",3.47
10,2.3,Construction,5.49,"5,907,017",5.41
11,3,Tertairy Sector,36.14,"39,549,816",36.25
12,3.1,"Trade, repair, hotels and restaurants",12.66,"14,616,582",13.40
13,3.11,Trade & repair services,12.66,"14,616,582",13.40
14,3.2,"Transport, storage, communication & services r...",4.56,"5,082,266",4.66
15,3.21,Railways,0.44,"415,391",0.38
16,3.22,Services incidental to transport,2.70,"3,281,339",3.01
17,3.26,Storage,0.06,"52,051",0.05
18,3.27,Communication & services related to broadcasting,1.37,"1,333,485",1.22
19,3.3,Financial services,5.36,"6,273,832",5.75
20,3.4,"Real estate, ownership of dwelling & professio...",5.94,"5,926,791",5.43
21,3.5,Public administration & defence,3.51,"3,617,774",3.32
22,3.6,Other services,4.09,"4,032,571",3.70

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code

In [321]:
driver = selenium.webdriver.Chrome()

In [322]:
url=("https://github.com/")
driver.get(url)

In [324]:
# Click on explore
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
try:
    explore.click()
    trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [325]:
#Creating empty list:
URLs = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repository:
    URLs.append(i.get_attribute("href"))

In [326]:
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [328]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    
    # Repository Titles
    try:
        title = driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        repository_title.append(title.text)
    except NoSuchElementException:
        Description.append('-')
    
    # Description
    
    try:
        desc = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
    
    # Contributor
    
    try:
        contributor = driver.find_element(By.XPATH,'//div[@class="mt-3"]')
        Contributors.append(contributor.text.split("+")[-1].strip())
    except NoSuchElementException:
        Contributors.append('-')
    
    # Languages 
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [329]:
github = pd.DataFrame({"Repository Title":repository_title,"Description": Description,"Contributors": Contributors,"Languages Used":Language})
github

,Repository Title,Description,Contributors,Languages Used
0,facechain,FaceChain is a deep-learning toolchain for gen...,-,"[Python, Jupyter Notebook, Shell]"
1,neuralangelo,"Official implementation of ""Neuralangelo: High...",-,"[Python, Shell, Jupyter Notebook]"
2,wipeout-rewrite,-,-,"[C, Other]"
3,Python,All Algorithms implemented in Python,978 contributors,[Python]
4,infisical,"♾ Infisical is an open-source, end-to-end encr...",85 releases,"[TypeScript, Go, JavaScript, Shell, Makefile, ..."
5,roop,one-click deepfake (face swap),5 releases,[Python]
6,DoctorGPT,DoctorGPT is an LLM that can pass the US Medic...,-,[Jupyter Notebook]
7,awesome-generative-ai,A curated list of modern Generative Artificial...,13 contributors,[]
8,aws-devops-zero-to-hero,AWS zero to hero repo for devops engineers to ...,-,"[Python, HCL, Shell, Dockerfile]"
9,Conferences,Conference slides,-,[]
10,Fooocus,Focus on prompting and generating,-,"[Python, Jupyter Notebook]"
11,awesome-scalability,"The Patterns of Scalable, Reliable, and Perfor...",11 contributors,[]
12,Langchain-Chatchat,Langchain-Chatchat (formerly langchain-ChatGLM...,18 releases,[Python]
13,Synapse_CoR,-,-,[]
14,awesome-selfhosted,A list of Free Software network services and w...,"1,243 contributors",[Makefile]
15,Auto_Simulated_Universe,崩坏：星穹铁道 模拟宇宙自动化 （Honkai Star Rail - Auto Simul...,12 releases,"[Python, Batchfile]"
16,shiori,Simple bookmark manager built with Go,9 releases,"[JavaScript, Go, Less, HTML, Makefile, Shell, ..."
17,stable-diffusion-webui,Stable Diffusion web UI,12 releases,"[Python, JavaScript, HTML, CSS, Other]"
18,generative_agents,Generative Agents: Interactive Simulacra of Hu...,-,[]
19,go-ethereum,Official Go implementation of the Ethereum pro...,174 releases,"[Go, C, JavaScript, Assembly, Java, Sage, Other]"
20,CodeGeeX2,CodeGeeX2: A More Powerful Multilingual Code G...,-,"[Python, Shell]"
21,hiring-without-whiteboards,⭐️ Companies that don't have a broken hiring p...,953 contributors,[JavaScript]
22,localGPT,Chat with your documents on your local device ...,11 contributors,"[Python, HTML, Dockerfile]"
23,build-your-own-x,Master programming by recreating your favorite...,96 contributors,[]
24,New-Grad-2024,👋 Hey there new grad🎉! We've put together a co...,41 contributors,[Python]

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [334]:
driver = selenium.webdriver.Chrome()

In [335]:
url=("https://www.billboard.com/")
driver.get(url)

In [336]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [338]:
view_chart = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [339]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [340]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [341]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [342]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [343]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [344]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Last Night\nMorgan Wallen\n1\n1\n28,Morgan Wallen,,,
1,Fast Car\nLuke Combs\n2\n2\n20,Luke Combs,2,2,20
2,Cruel Summer\nTaylor Swift\n4\n3\n14,Taylor Swift,4,3,14
3,Calm Down\nRema & Selena Gomez\n6\n3\n49,Rema & Selena Gomez,6,3,49
4,Fukumean\nGunna\n7\n4\n8,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas\nPeso Pluma & Jasiel Nunez\n-\n77\n6,Peso Pluma & Jasiel Nunez,,,
96,Overdrive\nPost Malone\n68\n47\n3,Post Malone,-,82,1
97,"Bzrp Music Sessions, Vol. 55\nBizarrap & Peso ...",Bizarrap & Peso Pluma,,,
98,Dawns\nZach Bryan Featuring Maggie Rogers\n-\n...,Zach Bryan Featuring Maggie Rogers,55,55,2
99,Rubicon\nPeso Pluma\n-\n63\n6,Peso Pluma,,,

In [345]:
driver.close()

6. Scrape the details of Highest selling novels. 
compare 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greyYou have to find the following details

In [376]:
driver = selenium.webdriver.Chrome()

In [377]:
# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [378]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [379]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [380]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [381]:
driver.close()

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You 
have to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [384]:
driver = selenium.webdriver.Chrome()

In [385]:
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [386]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [387]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [388]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,192,705"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,266,517"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,040,804"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"305,916"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"264,992"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,417"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,444"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,073"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,676"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,598"

In [389]:
driver.close()

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code.

In [4]:
driver = selenium.webdriver.Chrome()

In [5]:
# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [6]:
# accept button
accept_button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn m-1"]')
accept_button.click()

In [7]:
# click on datasets
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
datasets.click()

In [9]:
# Getting URL of each dataset
url=[]
for i in range(63):
    urls=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
    for u in urls:
        url.append(u.get_attribute("href"))
        
    #click on next button
    if len(url)<=620:
        next_button=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
        next_button.click()
        print(len(url))

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620

In [10]:
# creating empty list:
name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instance=[]
year=[]

In [11]:
# Iterate each url and get necessary data
for u in url:
    driver.get(u)

    # Dataset Name
    try:
        nm=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        name.append(nm.text)
    except NoSuchElementException:
        name.append(None)
    
    # Data type
    try:
        d_type=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        data_type.append(d_type.text)
    except NoSuchElementException:
        data_type.append(None)
    
    # Associated Tasks 
    try:
        tsk=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(tsk.text)
    except NoSuchElementException:
        task.append(None)
    
    # Attribute Type
    try:
        attribute=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attribute_type.append(attribute.text)
    except NoSuchElementException:
        attribute_type.append(None)
    
    # No of Instances
    try:
        instance=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_of_instance.append(instance.text)
    except NoSuchElementException:
        no_of_instance.append(None)
    
    # Year
    try:
        yr=driver.find_element(By.XPATH,'//h2[@class="text-primary-content"]')
        year.append(yr.text.split("/")[-1])
    except NoSuchElementException:
        year.append(None)

In [12]:
# Quit the Driver
driver.quit()

In [13]:
# Creating DataFrame        
df_dataset=pd.DataFrame({"Dataset Name":name,"Data Type":data_type,"Associated Tasks":task,"Attribute Type":attribute_type,
                         "No of Instances":no_of_instance,"Year": year})
df_dataset

,Dataset Name,Data Type,Associated Tasks,Attribute Type,No of Instances,Year
0,Iris,Multivariate,Classification,Real,150,1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,2020
4,Diabetes,"Multivariate, Time-Series",-,"Categorical, Integer",-,None
...,...,...,...,...,...,...
625,DBWorld e-mails,Text,Classification,-,64,2011
626,Firm-Teacher_Clave-Direction_Classification,Multivariate,Classification,-,10800,2015
627,Discrete Tone Image Dataset,Multivariate,Classification,-,71,2018
628,extention of Z-Alizadeh sani dataset,-,Classification,"Integer, Real",303,2017
629,Shoulder Implant X-Ray Manufacturer Classifica...,Multivariate,Classification,Real,597,2020